@import "variables.less";
@import "function.less";


@media (min-width: @media-med_minWidth) and (max-width: @media-med_maxWidth) {
.col-md.wrapper{
  @Wrapper_w:740px;
  .posAbs(0px,0px,@Wrapper_w,3120px);
  .header{.posAbs(0px,0px,@Wrapper_w,45px);
    .header-basket{visibility: hidden;};
  }
  
    .header_btn{.posAbs(13px,20px,26px,20px);background-image: url(../img/main-header_btn.png);&:hover{background-image: url(../img/main-header_btn-hover.png);}}
     
    .header_lock{.posAbs(0px,657px,76px,45px);}//235
      .header_lock_im{.posAbs(13px,5px,18px,20px);
        background-image: url(../img/main-header_lock_im.png);
      }
    .header_lock_txt{.posAbs(15px,23px,43px,22px);}   
    .header_reg{.posAbs(12px,537px,120px,21px);}
      .reg_img{.posAbs(0px,0px,26px,21px);}
      .reg_txt{.posAbs(7px,26px,94px,9px);}

  .headerBlurb{.posAbs(44px,0px,@Wrapper_w,106px);}
  
    .headerBlurb_img{.posAbs(10px,20px,166px,84px);background-image: url(../img/main-headerBlurb-md_img.png);}  
    .headerBlurb-inf{.posAbs(34px,253px,211px,38px);}
      .headerBlurb-inf_img{.posAbs(0px,0px,26px,26px);background-image: url(../img/main-headerBlurb-inf_img.png);}
      .headerBlurb-inf_tlf{.posAbs(0px,33px,110px,16px);}
      .headerBlurb-inf_txt{.posAbs(23px,33px,130px,11px);}

    .header-basket{.posAbs(37px,520px,220px,34px);}
      .header-basket_img{.posAbs(4px,0px,27px,25px);background-image: url(../img/main-header_basket_img.png);&:hover{background-image: url(../img/main-header_basket_hover.png);}}
      .header-basket_lbl{.posAbs(0px,101px,34px,34px);}
          .header-basket-lbl_img{.posAbs(0px,0px,34px,34px);background-image: url(../img/main-headerBlurb_basket_lbl.png);&:hover{background-image: url(../img/main-headerBlurb_basket_lbl-hover.png);}}
          .header-basket-lbl_txt{.posAbs(8px,0px,34px,15px);font-size:15px;}
      .header-basket_txt{.posAbs(8px,26px,75px,15px);font-size:15px;.textC();}
      .header-basket_vol{.posAbs(8px,135px,85px,15px);font-size:15px;.textCB();}
  //@searchSite_w:(740px-20px);
 .searchSite{.posAbs(151px,20px,720px,49px);}
    //.searchSite_search{.posAbs(13px,15px,151px,22px);background-image: url(../img/main-searchSite_search.png);&:hover{background-image: url(../img/main-searchSite_search-hover.png);}}


.searchSite_btn{.posAbs(13px,679px,21px,22px);}    
  
  .tablePart{.posAbs(200px,0px,300px,1785px);}
 
  .tablePart_header{.posAbs(160px,29px,231px,24px);}

 .cell_txt(@nLine:0, @nCol:0, @kh:1){@t0:197px;@dt:10px;@h:16px*@kh;@l0:29px;@dl:0px;@w:150px;//230
  top: @t0+(@dt+@h)*@nLine;left: @l0+(@dl+@w)*@nCol;width: @w;height: @h; position: absolute;
}
    .tablePart_txt{}
        .tablePart_txt1{.cell_txt(0,0);}
        .tablePart_txt2{.cell_txt(1,0);}
        .tablePart_txt3{.cell_txt(2,0);}
        .tablePart_txt4{.cell_txt(3,0);}
        .tablePart_txt5{.cell_txt(0,1);}
        .tablePart_txt6{.cell_txt(1,1);}
        .tablePart_txt7{.cell_txt(2,1);}
        .tablePart_txt8{.cell_txt(3,1);}
.tablePart-engine{
        .tablePart_txt1{.cell_txt(0,0);}
        .tablePart_txt2{.cell_txt(1,0);}
        .tablePart_txt3{.cell_txt(2.5,0);}
        .tablePart_txt4{.cell_txt(3.5,0);}
        .tablePart_txt5{.cell_txt(0,1);}
        .tablePart_txt6{.cell_txt(1,1);}
        .tablePart_txt7{.cell_txt(2,1);}
        .tablePart_txt8{.cell_txt(3,1);}
}
.tablePart-transmission{
        .tablePart_txt1{.cell_txt(0,0);}
        .tablePart_txt2{.cell_txt(1.5,0);}
        .tablePart_txt3{.cell_txt(2.5,0);}
        .tablePart_txt4{.cell_txt(3.5,0);}
        .tablePart_txt5{.cell_txt(0,1);}
        .tablePart_txt6{.cell_txt(1,1);}
        .tablePart_txt7{.cell_txt(2,1);}
        .tablePart_txt8{.cell_txt(3,1);}
}
 
// .tablePart_img{width:352px;height:auto;} 0px,0px,260px,130px
    .tablePart_img{.posAbs(0px,0px,352px,159px);height:auto;}

 .cell(@nLine:0, @nCol:0){@t0:20px;@dt:20px;@h:350px;@l0:20px;@dl:20px;@w:352px;
  top: @t0+(@dt+@h)*@nLine;left: @l0+(@dl+@w)*@nCol;width: @w;height: @h; position: absolute;
}            
    .tablePart-engine{.cell(0,0);}    
    .tablePart-chassis{.cell(0,1);}
    .tablePart-bodyParts{.cell(1,0);}
    .tablePart-transmission{.cell(1,1);}
 //w=352 dl=20
 /* 
  .data(){ @t0:20px;@dt:20px;@h:371px;@l0:20px;@dl:20px;@w:352px;}

 .cell(@nLine:0, @nCol:0){@t0:20px;@dt:20px;@h:371px;@l0:20px;@dl:20px;@w:352px;
  top: @t0+(@dt+@h)*@nLine;left: @l0+(@dl+@w)*@nCol;width: @w;height: @h; position: absolute;
}
    .tablePart-engine{.cell(@nLine:0, @nCol:0);}    
    .tablePart-chassis{.cell(@nLine:0, @nCol:1);}
    .tablePart-bodyParts{.cell(@nLine:1, @nCol:0);}
    .tablePart-transmission{.cell(@nLine:1, @nCol:1);}
  */

  .options{.posAbs(2005px,0px,@Wrapper_w,340px);
    .optionsCell_img{.posAbs(0px,0px,93px,73px);}
    .optionsCell_header{.posAbs(14px,93px,167px,14px);}
    .optionsCell_txt{.posAbs(38px,93px,167px,12px);}

     .options-0.optionsCell{.options-cell(0,0);
       
     }
     .options-1.optionsCell{.options-cell(1,0);
       
     }
     .options-2.optionsCell{.options-cell(2,0);
       
     }
  }
  .newArrival{.posAbs(2345px,0px,@Wrapper_w,546px);}
  .newArrival-header{.posAbs(0px,0px,300px,128px);}
    .newArrival-header_txt1{.posAbs(54px,18px,258px,19px);}
    .newArrival-header_txt2{.posAbs(78px,18px,258px,19px);}
  .newArrival-slide{.posAbs(128px,0px,300px,206px);}
      .newArrival-0{.newArrival-cell(0,0);} //.posAbs(0px,0px,295px,206px);
      .product_img{.posAbs(0px,0px,295px,206px);background-image: url(../img/main-newArrival-0.png);}
      .product-details{.posAbs(206px,18px,258px,116px);}
        .product-details_status{.posAbs(12px,21px,225px,12px);}
        .product-details_model{.posAbs(38px,21px,225px,16px);}
        .product-details_yearOfCar{.posAbs(63px,21px,225px,14px);}
      .arrowLeft{.posAbs(147px,4px,30px,30px);background-image: url(../img/main-arrowLeft.png);}
      .arrowRight{.posAbs(147px,264px,30px,30px);background-image: url(../img/main-arrowRight.png);}
  .newArrival_seeAll{.posAbs(464px,18px,258px,21px);}
.card{.posAbs(2891px,20px,740px-20px,260px);}
  .card_header1{.posAbs(26px,38px,242px,18px);}
  .card_header2{.posAbs(48px,38px,242px,21px);}
  .card_text1{.posAbs(85px,39px,241px,14px);}
  .card_button{.posAbs(122px,39px,160px,39px);}
  .card_img{.posAbs(161px,85px,175px,130px);background-image: url(../img/main-card_img.png);}
.sellOut{.posAbs(3182px,20px,740px-20px,259px);}
    .sellOut-header1{.posAbs(23px,19px,241px,21px);}
    .sellOut-header2{.posAbs(47px,19px,241px,21px);}
    .sellOut-txt{.posAbs(84px,19px,241px,15px);}
    .sellOut-button{.posAbs(122px,19px,181px,40px);}
    .sellOut-img{.posAbs(162px,130px,150px,171px);}
.news-slide{.posAbs(3462px,0px,@Wrapper_w,510px);}
  .news-1{.posAbs(0px,0px,300px,510px);}
  .news-1_img{.posAbs(0px,0px,300px,510px);}
  .news-slide_arrowLeft{.posAbs(255px,5px,29px,42px);}
  .news-slide_arrowLeft{.posAbs(267px,5px,30px,30px);}
  .news-slide_arrowRight{.posAbs(267px,264px,30px,30px);}
.news-1-inf{.posAbs(307px,0px,300px,124px);}
  .news-1-inf_data{.posAbs(0px,39px,241px,9px);}
  .news-1-inf_header1{.posAbs(26px,39px,241px,11px);}
  .news-1-inf_header2{.posAbs(49px,39px,241px,10px);}
  .news-1-inf_txt1{.posAbs(77px,39px,241px,10px);}
  .news-1-inf_txt2{.posAbs(95px,39px,241px,11px);}
  .news-1-inf_txt3{.posAbs(113px,39px,241px,11px);}

.footer{.posAbs(4026px,0px,@Wrapper_w,609px);}
.footer-question{.posAbs(0px,0px,300px,152px);}
  .footer-question_header{.posAbs(33px,20px,260px,19px);}
  .footer-question_button{.posAbs(71px,67px,165px,41px);}
.footer-payment{.posAbs(152px,0px,300px,382px);}
  .footer-payment_txt1{.posAbs(58px,20px,260px,12px);}
  .footer-payment_bottom{.posAbs(83px,34px,231px,40px);}
  .footer-payment_txt2{.posAbs(159px,20px,260px,14px); }
  .footer-payment_img1{.posAbs(186px,20px,260px,38px);background-image: url(../img/main-payment_img1.png);}
  .footer-payment_txt3{.posAbs(260px,20px,260px,14px);}
  .footer-payment_img2{.posAbs(283px,105px,95px,42px);background-image: url(../img/main-payment_img2.png);}

.footer-conections{.posAbs(534px,0px,@Wrapper_w,75px);}


/**/
}
}
