@media-small_maxWidth:600px;  //480
@media-med_minWidth: @media-small_maxWidth;
@media-med_maxWidth:1000px;  //768
@media-large_minWidth: @media-med_maxWidth;

@wrapper_width:300px;
@wrapper_background: #f8f8f8;

@tablePart-t1:20px;
@tablePart-dt:20px; 
@tablePart-h:426px;
@colorPhone: #ffffff; //;LightSalmon
@colorOptions:#f4d219;
@colorTablePart:#323338;

.tablePart_data(){
	@t0:20px; 
	@dt:20px; 
	@l0:20px; 
	@dl:20px; 
	@w:260px; 
	@h:426px;
}

.textC(){
	font-family: Arial, serif;text-align: center;
}
.textCB(){
	font-weight: bold;font-family: Arial, serif;text-align: center;
}